$headingFont: 'Ubuntu', sans-serif;
$textFont: 'Open Sans', sans-serif;
html, body, div, h1, h2, nav, li, ul {
    margin: 0;
    padding: 0;
}
nav.mainNav {
    background-color: grey;
    padding: 1em;
    background-color: rgba(0,0,0,0.8);
    ul {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
        align-content: center;
        li {
            list-style-type: none;
            align-self: center;
            justify-self: center; 
            font-family: $textFont;
        }
        li a {
            text-decoration: none;
            color:white;
        }

        li a:hover{
            color:#ed652f;  
        }

        :nth-child(3) a{
            color:orange;
        }

        :nth-child(3) a:hover{
            color:#ed652f;
        }
        li.companyName {
            font-family: $headingFont;
            justify-self: left;
            font-size: 2em;
            a, a:hover {
                text-decoration: none;
                color: #3c4d51;
            }
        }

    }
}

footer {
    text-align: center;
    background: rgba(56, 56, 56, 0.9);
    height:100px;
    color:white;
    padding-left: 1%;
    padding-top: 30px;
    p {
        margin:0;
        margin-bottom: 10px;
    }
}

