html, body, div, h1, h2, nav, li, ul {
  margin: 0;
  padding: 0; }

nav.mainNav {
  background-color: grey;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8); }
  nav.mainNav ul {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    -ms-flex-line-pack: center;
    align-content: center; }
    nav.mainNav ul li {
      list-style-type: none;
      -ms-flex-item-align: center;
      align-self: center;
      justify-self: center;
      font-family: "Open Sans", sans-serif; }
    nav.mainNav ul li a {
      text-decoration: none;
      color: white; }
    nav.mainNav ul li a:hover {
      color: #ed652f; }
    nav.mainNav ul :nth-child(3) a {
      color: orange; }
    nav.mainNav ul :nth-child(3) a:hover {
      color: #ed652f; }
    nav.mainNav ul li.companyName {
      font-family: "Ubuntu", sans-serif;
      justify-self: left;
      font-size: 2em; }
      nav.mainNav ul li.companyName a, nav.mainNav ul li.companyName a:hover {
        text-decoration: none;
        color: #3c4d51; }

footer {
  text-align: center;
  background: rgba(56, 56, 56, 0.9);
  height: 100px;
  color: white;
  padding-left: 1%;
  padding-top: 30px; }
  footer p {
    margin: 0;
    margin-bottom: 10px; }
