body,h1,h2,h3,h4,h5, figure{
    margin:0;
    padding:0;
}
.coldHand{
    height:1000px;
    background-color: #e6bdbd;
}

.solutionHereScroll{
    height:2000px;
    background-color: #252525;
}

//SolutionHere section
.solutionHere {
    position: relative;

    aside{
        position: absolute;
        top: 45%;
        left: 75%;
        transform: translate(-50%, -50%);
        h2 {
            font-size: 2.2em;
        }
        #solutionHereText1 {
            visibility: hidden;
        }
        #solutionHereText2 {
            visibility: hidden;
        }
    }

    .solutionHereImage{
        width: 100%;
    }

    #solutionHereInfrared{
        position: absolute; 
        top: 0; 
        opacity: 0;
    }


}
#solutionHereAsideScroll{
    z-index: 1;
    visibility: hidden;
    h2, p{
        visibility: inherit;
        color:white;
    }
}

.fixedTop {
    position: fixed; 
    top: 0; 
}

//SolutionHere animations

.slideRight{
    animation-name: slideRight;
    -webkit-animation-name: slideRight;	

    animation-duration: 1s;	
    -webkit-animation-duration: 1s;

    animation-timing-function: .17,.67,.83,.67;	
    -webkit-animation-timing-function: .17,.67,.83,.67;	

    visibility: visible !important;	
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }		
    100% {
        transform: translateX(0%);
    }	
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.slideLeft{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;	

    animation-duration: 1s;	
    -webkit-animation-duration: 1s;

    animation-timing-function: .17,.67,.83,.67;	
    -webkit-animation-timing-function: .17,.67,.83,.67;	

    visibility: visible !important;	
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }		
    100% {
        transform: translateX(0%);
    }	
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;

}
.fadeIn {
    visibility: visible !important;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

//WarmHands section
.warmHands {
    height:800px;
    background-color: #252525;
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h2 {
        font-size: 2.2em;
    }
    #warmHandsArticle {
        /*visibility: hidden;*/
        justify-self: center;
        align-self: center;
    }
    figure{
        /*visibility: hidden;*/
        justify-self: center;
        justify-self: end;
        align-self: center;
        /*visibility: hidden;
        img{
        width:100%;
    }*/
    }
}

//Custom angles section

.customAngles {
    height:600px;
    padding-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    figure{
        text-align: center;
        align-self: center;
        justify-self: center;
        img{
            width:80%;
        }
    }
    article{
        text-align: center;
        align-self: center;
        h2 {
            font-size: 2.2em;
        }
    }
}
section.easySetup {
    background-color: #252525;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    article {
        text-align: center;
        align-self: center;
        h2 {
            font-size: 2.2em; 
        }
    }
    figure {
        align-self: center;
        img {
            width: 100%;
        }
    }
}

//Call to action section
.callToAction {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    button {
        margin-top: 20px;
        color:white;
        background-color: #ed652f;
        border:none;
        padding:10px;
        font-size: 20px;
    }
    button:hover {
        transition: 0.5s all;
        background-color: #000000;
        cursor: pointer;
    }
}

.gifStyling{
    width:100%;
}

