body, tr, td, button {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif; }

.videoSection {
  margin: 10px 10% 50px 10%; }
  .videoSection video {
    width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.productPageSection {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30% 70%; }
  .productPageSection h2 {
    margin-top: 15px;
    color: #ed652f; }
  .productPageSection #price {
    color: orange;
    font-size: 18px; }
  .productPageSection button {
    margin-bottom: 20px;
    margin-top: 15px; }
  .productPageSection .tabButton {
    border: none;
    height: 40px;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    outline: none;
    background-color: grey;
    color: white; }
  .productPageSection .tabButton:hover {
    cursor: pointer; }
  .productPageSection ul {
    list-style-position: inside; }
    .productPageSection ul li {
      margin-bottom: 5px; }
  .productPageSection .slideshow-container {
    width: 100%;
    position: relative; }
    .productPageSection .slideshow-container img {
      width: 100%; }
  .productPageSection .mySlides {
    display: none; }
  .productPageSection #productPageDynamicContent {
    clear: both;
    margin-bottom: 10px; }
    .productPageSection #productPageDynamicContent table {
      border: none; }
    .productPageSection #productPageDynamicContent tr {
      margin-bottom: 0.5em; }
    .productPageSection #productPageDynamicContent tr > td:nth-child(1) {
      background-color: #919191;
      border: 5px solid white;
      padding-right: 1em; }
    .productPageSection #productPageDynamicContent tr > td:nth-child(2) {
      background-color: #CCCCCC;
      border: none;
      padding-left: 1em;
      border: 5px solid white; }
    .productPageSection #productPageDynamicContent h2 {
      margin-bottom: 10px; }
  .productPageSection .activeTabButton {
    background-color: #ed652f;
    color: white; }
  .productPageSection table, .productPageSection th, .productPageSection td {
    border: 1px solid black;
    border-collapse: collapse; }
  .productPageSection th, .productPageSection td {
    padding: 5px; }
  .productPageSection #thumbnails {
    display: grid;
    margin-left: 40px;
    margin-right: 40px;
    grid-template-columns: 25% 25% 25% 25%; }
    .productPageSection #thumbnails img {
      width: 100%;
      opacity: 0.5; }
    .productPageSection #thumbnails img:hover {
      opacity: 1; }
  .productPageSection #thumbnails:hover {
    cursor: pointer; }
  .productPageSection #saleButton {
    color: white;
    background-color: #ed652f;
    border: none;
    padding: 10px;
    font-size: 20px; }
  .productPageSection #saleButton:hover {
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    background-color: #252525;
    cursor: pointer; }
  .productPageSection .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.contactSection {
  margin-top: 20px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  grid-template-areas: ". profile1 . profile2 ." ". contact address media ."; }
  .contactSection h2 {
    color: #ed652f; }

.profile {
  margin-bottom: 50px; }

.profile1 {
  grid-area: profile1;
  text-align: center; }

.profile2 {
  grid-area: profile2;
  text-align: center; }

.contact {
  grid-area: contact; }

.address {
  grid-area: address; }

.media {
  grid-area: media; }

.aboutSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 10% 20px 10%; }
  .aboutSection article {
    padding: 20px; }
  .aboutSection img {
    width: 100%; }
  .aboutSection h2, .aboutSection h4 {
    color: #ed652f; }

#timeLine {
  text-align: center;
  margin: 20px 10% 20px 10%; }
  #timeLine h2 {
    color: #ed652f; }
  #timeLine img {
    width: 100%; }
