$envavoOrange: #ed652f;
$headingFont: 'Ubuntu', sans-serif;
$textFont: 'Open Sans', sans-serif;
body {
    font-family: $textFont;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $headingFont;
}
.videoSection {
    margin:10px 10% 50px 10%;
    
    video{
        width:100%;
    }
}

* {box-sizing:border-box}



.productPageSection{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    box-sizing:border-box;
    display: grid;
    grid-template-columns: 30% 70%;
    h2{
        margin-top: 15px; 
        color: $envavoOrange;
    }
    #price{
        color: orange;
        font-size: 18px;
    }
    button{
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .tabButton{
        border:none;
        height: 40px;
        padding:10px;
        border-bottom:solid grey 0.5px;
        margin-left:0px;
        margin-right:0px;
        float: left;
        outline:none;
        background-color: grey;
        color:white;
    }
    ul {
        list-style-position: inside;
        li{
            margin-bottom: 5px;
        }
     }
     .slideshow-container {
        width:100%;
        position: relative;
        img{
            width:100%;
        }
      }
      
      .mySlides {
        display: none;
    }
    #productPageDynamicContent{
        clear:both;
        h2{
            margin-bottom: 10px;
        }
        margin-bottom: 10px;
    }
    .activeTabButton{
        background-color: white;
        border-top:solid grey 0.5px;
        border-left:solid grey 0.5px;
        border-right:solid grey 0.5px;
        color:black;
        
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td{
        padding:5px;
    }
    #thumbnails{
        display: grid;
        margin-left: 40px;
        margin-right: 40px;
        grid-template-columns: 25% 25% 25% 25%;
        img{
            width:100%;
            opacity: 0.5;
        }
        img:hover{
            opacity:1;
        }
    }
    #saleButton{
        color:white;
        background-color: $envavoOrange;
        border:none;
        padding:10px;
        font-size: 20px;
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
}

//contactpage
.contactSection {
    margin-top:20px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas: 
      ". profile1 . profile2 ."
      ". contact address media .";
      h2{
          color:$envavoOrange;
      }
  }
  .profile{
      margin-bottom: 50px;
  }
.profile1 {
    grid-area: profile1;
    text-align: center;
  }
.profile2 {
    grid-area: profile2;
    text-align: center;
  }
.contact {
    grid-area: contact;
  }
.address{
    grid-area: address;
  }
.media {
    grid-area: media;
  }
  

 //about page

.aboutSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:20px 10% 20px 10%;
    article{
        padding:20px;
    }
    img{
        width:100%;
    }
    h2, h4 {
        color:$envavoOrange;
    }
}

#timeLine{
    text-align: center;
    margin:20px 10% 20px 10%;
    h2{
        color:$envavoOrange;
    }
    img{
        width:100%;
    }
}
